{% extends 'base.html' %}
{% load bootstrap_icons %}

{%block body%}
<div class="container">
    {% if milk_data %}
    <table class="table table-bordered text-white">
        <thead>
            <th>Sl No.</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Price</th>  
        </thead>
        {% for milk_data in milk_data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{milk_data.issue_date}}</td>
            <td>{{milk_data.qty}}</td>
            <td>{{milk_data.price}}</td>
        </tr>
        {%endfor%}
    </table>
    <hr>
    <table class="table table-bordered text-white">
        <thead>
            <th>Total Price</th>
            <th><button class="btn btn-warning"><a style="text-decoration:none" href="{% url 'milk_list:calculate' %}">Calculate</button></th>
            <th> {{total_qty}}</th>
            <th>{{total_price}}</th>
        </thead>
       
    

    </table>

    {% else %}
    <h3>Milk Date Not Found. Please Add First!!</h3>
    {% endif %}
</div>


{%endblock%}